# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ptnurehw/ottm.gizmodz.shop/FFMT"
PassengerBaseURI "/FFMT"
PassengerPython "/home/ptnurehw/virtualenv/ottm.gizmodz.shop/FFMT/3.11/bin/python"
PassengerAppLogFile "/home/ptnurehw/ottm.gizmodz.shop/FFMT/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END